/* TODO Add site wide styles */
body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}



.miniInfo1 {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.miniInfo1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.miniInfo1 h4 {
    align-self: center;
}

.miniInfo1 h6 {
    font-size: 12px;
}
.about-us-text {
    padding: 10px;
    margin: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.homepage-image{
    max-height: 500px;
    padding: 20px;
    border-radius: 5px;
    border: #31c6e8 solid 3px;
    display: block;
}

.centered {
    justify-content: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  }
.middled {
    align-items: center;
  }

  main {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .circle-progress {
    position: absolute;
    margin: 50%;
    z-index: -5;
    right: -115px;
  }

  .icon-progress {
    position: absolute;
    margin: 50%;
    left: -60px;
    z-index: 1;
  }

  .doughnut {
    height: 100px;
    position: relative;
    /* right: 300px; */
  }