

    .miniProfile {
        background-color: white;
        /* position: absolute; */
        /* width: 350px;
        height: 200px; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        /* top: 200px;
        left: 10px; */
        border-radius: 10px;
    }
    
    .miniProfile img {
        width: 120px;
        height: 120px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 5px 3px 3px lightgray;
    }
    
    .miniProfile h2 {
        margin-top: 10px;
    }
    
    .miniInfo {
        display: flex;
        margin-bottom: 10px;
    }
    
    .miniInfo div {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    
    .miniInfo h4 {
        align-self: center;
    }
    
    .miniInfo h6 {
        font-size: 12px;
    }


/* different screen size */

/* @media screen and (max-width: 600px) {
    .miniProfile {
        background-color: white;
        width: 300px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        margin: 40px 0 20px 125px;
        border-radius: 10px;
       
    }
    .miniProfile img {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 5px 3px 3px lightgray;
    }
    
    .miniProfile h2 {
        cursor: pointer;
        margin-top: 10px;
    }
    
    .miniInfo {
        display: flex;
        margin-bottom: 10px;
    }
    
    .miniInfo div {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    
    .miniInfo h4 {
        align-self: center;
    }
    
    .miniInfo h6 {
        font-size: 12px;
    } 
} */

.middled {
    align-items: center;
  }

.centered {
    justify-content: center;
  }

.dayslow {
    color: red;
}

.oversevendays {
    color: green;
}



.spectrum-container {
    display: flex;
    margin: 10px;
    padding: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background: rgb(250,2,2);
    background: linear-gradient(90deg, rgba(250,2,2,1) 0%, rgba(10,121,158,1) 50%, rgba(0,255,139,1) 100%);
    overflow-x: scroll;
}


.spectrum-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #000000;    
    
}

.spectrum-children {
    border-radius: 5px;
    margin: 5px;
    transition: box-shadow .3s;
    border: 3px solid black;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            -webkit-animation: flip-out-hor-top 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: flip-out-hor-top 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    float: left;

}

.spectrum-children:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }




  /* ----------------------------------------------
 * Generated by Animista on 2021-1-11 15:2:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }

  